<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./layout/_header.ejs', {title: '首頁'}) %>
</head>
<body>
    <h1><%= msg%></h1>
    <h2>Hello World !</h2>
    <!-- body -->
    <%- include('./pages/_body.ejs')%>
    <!-- script -->
    <%- include('./layout/_script.ejs')%>
</body>
</html>
