<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./layout/_header.ejs', {title: '常見問題'}) %>
</head>
<body>
    <h1><%= msg%></h1>
    <h2>Hello Questions !</h2>
    <!-- body -->
    <%- include('./pages/_body.ejs')%>
    <!-- script -->
    <%- include('./layout/_script.ejs')%>
</body>
</html>
